.text-center{
    text-align: center;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-muted{
    color: #676a6c;
}
.btn-display{
    padding:10px;
    border:1px solid #e56789;
    background-color: transparent;
    border-radius: 6px;
    color: #e56789;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
}
.btn-display:hover{
    background-color: #e56789;
    color: #fff;
}

.employee-container{
    display: block;
    width:100%;
}
.col-3{
    width: 30%;
    float: left;
    margin: auto 15px 15px;
}
.box-shadow{
    box-shadow: 0 0 10px 3px #ddd;
    padding: 15px;
}